<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>roadtrip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB60C03D20360E6800ADF586</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB60C05120360E6800ADF586</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB60C05C20360E6800ADF586</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
